@model ToDoList.Models.Category

@{
  Layout = "_Layout";
}
<div class="container">
  <br>
  <h4>Add a new category</h4>
  @using (Html.BeginForm())
  {
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)

    @* @Html.LabelFor(model => model.Category)
    @Html.DropDownList("CategoryId") *@
    <input type="submit" value="Add new Category" />
  }
  <h5>@Html.ActionLink("Show all categories", "Index")</h5>
</div>