@model ToDoList.Models.Category
@using ToDoList.Models;
@{
  Layout = "_Layout";
}
<div class="container">
  <br>
  <h2>Category Details</h2>
  <hr />
  <h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)<h3>
  <ul>
  @if (@Model.Items.Count == 0)
  {
    <p>no items found</p>
  }

  @foreach (Item item in @Model.Items)
  {
    <li>Description: @item.Description</li>
  }
  </ul>
  <h5>@Html.ActionLink("Back to categories", "Index")</h5>
  <h5>@Html.ActionLink("Edit Category", "Edit", new { id = Model.CategoryId })</h5>
  <h5>@Html.ActionLink("Delete Category", "Delete", new { id = Model.CategoryId })</h5>
</div>